@import './variables.scss';
@import './fonts.scss';

body {
    font-family: "Titillium-Web", "Titillium-Web-Bold", sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: $text-color;
    background: $bg-color;
}