@font-face {
    font-family: 'Titillium-Web';
    src: url('./assets/fonts/Titillium-web/TitilliumWeb-Regular-10.ttf');
}

@font-face {
    font-family: 'Titillium-Web-Bold';
    src: url(./assets/fonts/Titillium-web/TitilliumWeb-Bold-3.ttf);
}