
.App {
    font-family: sans-serif;
    text-align: center;
  }
  
.slider {
    position: relative;
    left: 50px;
    top: 50px;
    width: 500px;
    height: 20px;
    border-radius: 10px;
    background: #ddd;
  }
  
  .track {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 20px;
    z-index: 1;
  }
  
  .has {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    border-radius: 10px;
    background: #999;
  }
  
  .ctrl {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 2;
    right: -30px;
    top: -20px;
    background: #999;
    box-shadow: rgba(0, 0, 0, 0.3) 0 5px 10px 0;
  }
  